@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
body {
  font-size: 14px;
  line-height: 1.43;
  background-color: #fff;
}
/* antd css for adminLayout */
html {
  --antd-wave-shadow-color: none !important;
}

.ant-layout .site-layout-background {
  background: #fff;
}
